/* Estilos básicos do corpo */
body {
    
    font-family: Arial, sans-serif; /* Define a fonte geral para o texto */
    margin: 0; /* Remove a margem padrão ao redor da página */
    padding: 20px; /* Adiciona espaçamento interno ao redor da página */
    background-image: url('/img/fundo-bemvindo.jpg') ; /* Define uma cor de fundo suave para a página */
}

/* Container principal */
.container {
    max-width: 1200px; /* Define a largura máxima do container (900px) */
    margin: 0 auto; /* Centraliza o container horizontalmente */
    background-color: #ffffff; /* Define o fundo do container como branco */
    padding: 20px; /* Adiciona espaçamento interno */
    border-radius: 8px; /* Arredonda os cantos do container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave ao redor do container */
}

/* Título */
h1 {
    font-size: 24px; /* Define o tamanho da fonte do título */
    color: #333; /* Define a cor do texto (cinza escuro) */
    text-align: center; /* Centraliza o título horizontalmente */
    margin-bottom: 20px; /* Adiciona espaço abaixo do título */
}

/* Barra de pesquisa */
.search-bar {
    display: flex; /* Organiza os elementos da barra de pesquisa em uma linha */
    justify-content: center; /* Centraliza os itens da barra horizontalmente */
    margin-bottom: 20px; /* Adiciona espaço abaixo da barra de pesquisa */
}

.search-bar input {
    padding: 10px; /* Adiciona espaçamento interno ao campo de entrada */
    border: 1px solid #ccc; /* Define uma borda cinza clara ao redor do campo */
    border-radius: 4px; /* Arredonda os cantos do campo de entrada */
    margin-right: 10px; /* Adiciona espaço à direita do campo de entrada */
    width: 60%; /* Define que o campo de entrada ocupará 60% da largura da barra */
}

.search-bar button {
    padding: 10px 20px; /* Define o espaçamento interno do botão (vertical x horizontal) */
    background-color: #007bff; /* Define a cor de fundo do botão (azul) */
    border: none; /* Remove qualquer borda do botão */
    border-radius: 4px; /* Arredonda os cantos do botão */
    color: #fff; /* Define a cor do texto do botão como branco */
    cursor: pointer; /* Mostra um cursor de "mão" ao passar o mouse sobre o botão */
}

.search-bar button:hover {
    background-color: #0056b3; /* Altera a cor do fundo do botão quando o mouse passa por cima */
}

/* Filtro de status */
.filter-status {
    display: flex; /* Organiza os elementos em uma linha */
    justify-content: flex-end; /* Centraliza o filtro horizontalmente */
    margin-bottom: 30px; /* Adiciona espaço abaixo do filtro de status */
}

.filter-status select {
    padding: unset; /* Adiciona espaçamento interno ao seletor */
    border-radius: 4px; /* Arredonda os cantos do seletor */
    border: 1px solid #ccc; /* Define uma borda cinza clara ao redor do seletor */
}

/* Texto de carregamento */
.loading {
    text-align: center; /* Centraliza o texto */
    margin-top: 10px; /* Adiciona espaço acima do texto */
    font-weight: bold; /* Deixa o texto em negrito */
}

/* Mensagem de erro */
.error-message {
    color: red; /* Define a cor do texto como vermelho */
    text-align: center; /* Centraliza a mensagem de erro */
}

/* Tabela */
table {
    width: 100%; /* Define que a tabela ocupará 100% da largura disponível */
    table-layout: auto; /* Permite que a tabela se ajuste ao conteúdo automaticamente */
    border-collapse: collapse; /* Remove o espaçamento entre as células da tabela */
    margin-bottom: 20px; /* Adiciona espaço abaixo da tabela */
    flex: auto;
}

/* Células e cabeçalhos da tabela */
table th, table td {
    padding: 12px; /* Adiciona espaçamento interno às células e cabeçalhos */
    text-align: left; /* Alinha o conteúdo das células e cabeçalhos à esquerda */
    border-bottom: 1px solid #ddd; /* Adiciona uma linha inferior nas células e cabeçalhos */
    white-space: nowrap; /* Impede a quebra de linha no conteúdo das células */
}

/* Cabeçalhos da tabela */
table th {
    background-color: #002fff98; /* Define a cor de fundo dos cabeçalhos da tabela (azul) */
    color: rgb(5, 5, 5); /* Define a cor do texto dos cabeçalhos como branco */
}

/* Cor de fundo ao passar o mouse sobre uma linha */
table tr:hover {
    background-color: #003cff63; /* Altera o fundo da linha quando o mouse passa por cima */
}

/* Cor de fundo da linha selecionada */
.selected-row {
    background-color:  #6664e9; /* Altera a cor de fundo da linha selecionada (cinza claro) */
}

/* Estilos dos botões na barra lateral */
.sidebar {
    display: flex; /* Organiza os botões em uma linha */
    justify-content: center; /* Centraliza os botões horizontalmente */
    gap: 10px; /* Adiciona espaço entre os botões */
    margin-bottom: 20px; /* Adiciona espaço abaixo da barra lateral */
}

.sidebar button {
    padding: 10px; /* Adiciona espaçamento interno ao botão */
    border: 1px solid #ccc; /* Define uma borda cinza clara ao redor do botão */
    border-radius: 4px; /* Arredonda os cantos do botão */
    background-color: #f8f9fa; /* Define a cor de fundo dos botões como cinza claro */
    color: #333; /* Define a cor do texto como cinza escuro */
    cursor: not-allowed; /* Indica que o botão está desativado (cursor de não permitido) */
}

.sidebar button:not(:disabled) {
    background-color: #007bff; /* Altera a cor de fundo do botão quando ativado */
    color: white; /* Altera a cor do texto para branco quando o botão é ativado */
    cursor: pointer; /* Mostra um cursor de "mão" quando o botão está ativado */
}

.sidebar button:not(:disabled):hover {
    background-color: #0056b3; /* Altera a cor de fundo quando o botão ativado é clicado */
}

/* Estilos do modal (janela de edição) */
.modal {
    display: none; /* O modal é oculto por padrão */
    position: absolute; /* O modal fica fixo na tela */
    z-index: 1; /* Define a prioridade de sobreposição */
    left: 0; /* Posição do modal na esquerda */
    top: 0; /* Posição do modal no topo */
    width: 100%; /* O modal ocupa 100% da largura da tela */
    height: 100%; /* O modal ocupa 100% da altura da tela */
    overflow: auto; /* Adiciona barra de rolagem, se necessário */
    background-color: rgba(0, 0, 0, 0.4); /* Fundo semi-transparente preto */
}

/* Conteúdo do modal */
.modal-content {
    background-color: #fff; /* Cor de fundo do modal */
    margin: 1% auto; /* Centraliza o modal verticalmente e horizontalmente */
    padding: 50px; /* Adiciona espaçamento interno ao conteúdo do modal */
    border: 1px solid #888; /* Define uma borda ao redor do modal */
    width: 50%; /* Define a largura do modal como 50% da tela */
    border-radius: 20px; /* Arredonda os cantos do modal */
}

/* Cabeçalho do modal */
.modal-header {
    padding: 1px; /* Adiciona espaçamento interno ao cabeçalho do modal */
    /*border-bottom: 1px solid #ddd;  Adiciona uma linha abaixo do cabeçalho */
}

/* Inputs e selects no modal */
.modal-body input, .modal-body select {
    width: 100%; /* Define que os inputs e selects ocuparão 100% da largura disponível */
    padding: 10px; /* Adiciona espaçamento interno */
    margin-top: 10px; /* Adiciona espaço acima dos inputs */
    margin-bottom: 20px; /* Adiciona espaço abaixo dos inputs */
    border: 1px solid #ccc; /* Define uma borda cinza clara */
    border-radius: 4px; /* Arredonda os cantos dos inputs */
}

/* Rodapé do modal */
.modal-footer {
    text-align: center; /* Alinha o conteúdo do rodapé à direita */
}

/* Botões no modal */
.modal-footer button {
    padding: 10px 15px; /* Define o espaçamento interno (vertical x horizontal) */
    background-color: #007bff; /* Cor de fundo azul */
    color: white; /* Cor do texto branco */
    border: #007bff; /* Remove bordas */
    border-radius: 10px; /* Arredonda os cantos dos botões */
}

/* Botão desabilitado no modal */
.modal-footer button:disabled {
    background-color: grey; /* Define a cor de fundo cinza para botões desabilitados */
    cursor: not-allowed; /* Cursor de "não permitido" para botões desabilitados */
}

/* Botão ativado no modal */
.modal-footer button:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse por cima do botão */
}
.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-btn:hover {
    background-color: darkred;
}
